/*GLOBAL*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(53, 53, 54);
}

h2,
.white {
    color: white;
}

a {
    color: #e9483d;
    text-decoration: none;

}

/*SECTION 1*/

.section-1 {
    padding-top: 40vh;
    text-align: center;
}

.section-1 p {
    color: #928e8e;
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;

}

/*SECTION 2*/

.section-2 {
    padding-top: 12vh;
    width: 70%;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;

}

.section-2 p {
    color: #928e8e;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 a {
    display: block;
    padding: 5px 5px 5px 0px;
    width: 100px;
}

/*Animações e utilidades*/

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.section-2 a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/*MEDIA QUERIES*/

@media(max-width:780px) {
    .grid {
        grid-template-columns: 1fr;

    }

    .section-1 {
        padding: 0;
        padding-top: 5rem;
    }

    .section-2 {
        padding: 0;
        padding-left: 4.5rem;
        padding-top: 2rem;
    }
}